<center>
  <form method="POST">
     
      <label>Insert your age (1-99): </label>
      <input type="number" name="age" min="1" max="99">
      <br />
      <label>Insert your salary (0 for male, 1 for female): </label>
      <input type="number" name="salary" min="0" max="7000">
      <br />
      <label>Insert your marital (0 for single, 1 for married, 2 for divorced): </label>
      <input type="number" name="marital" min="0" max="2">
      <input type="submit">
      <br />
      <label>{{ href2 }} </label>
  </form>
</center>
